*{
    font-family:Arial, Helvetica, sans-serif
}

body{
    padding: 40px;
    background-color: #1C2833 ;
    color: white;

}

input{
    color:gray;
    font-size: 1.2;
    width: 100%;
}

input:hover{
    background-color: blue
}

/* input:enabled{
    background-color:red    
} */

/* input::selection{
    background-color: blue
} */