*{
    font-family:Arial, Helvetica, sans-serif
}

body{
    padding: 40px;
    background-color: #1C2833 ;
    color: white;

}

input{
    color:gray;
    font-size: 1.2;
    width: 100%;
}

input:hover{
    background-color: blue
}

/* input:enabled{
    background-color:red    
} */

/* input::selection{
    background-color: blue
} */

.card{
    align-content: center;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}


.card p{
    padding: 5px;
    text-align: center;
}

.card img{
    max-height:170px;
}

.card-grid{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}